<!-- <div class="site-footer"> -->
  <div class="row w-100">
  <div class="col">
    <div class="single-widget">
      <a class="navbar-brand" href="/">
        <img  class="logo-img"src="\photos\logo new white (1).png " alt="logo">
      </a>
      </div>
      <p style="margin-left: 20px;"> Proxon Technologies is the high standard laptop, Desktop, Mobile phone sales &amp; service provider with best AMC support.</p>
    </div>
    <div class="col">
        <h3 style="color: white;">ContactUs</h3>
        <ul>
            <div class="row">
              <div class="col">
                   <li>
                        <span>Hotline:</span> 
                        <a href="tel:+91 8961409798" class="noleftmargin" style="color: white;"> +91 8961409798 </a><br><a href="tel:+91 9955754701" style="color: white;">+91 9955754701</a>
                    </li>
                   <li>
                        <span>Branch Address:</span> 
                      163, Ground Floor, Mahisbathan Rd, AQ Block, Saltlake Sector V, Kolkata, West Bengal 700102</li>
                </div>
                <div class="col">
                     <li >
                      <a href="mailto:info@proxontechnologies.com" style="color: white;">
                        <span>Email:</span> 
                        info@proxontechnologies.com </a>
                        </li>
                        <li>
                            <span>Address:</span> 
                            12/A 15th floor, Bengal Eco Intelligent Park, EM <br>Block, Sector V, Bidhannagar Kolkata, West Bengal, India 700091.
                        </li>                       
                </div>
            </div>
        </ul>   
    </div>
    <div class="col">
        <h3 style="color: white;">Our Services</h3>
        <ul class="serviceslinks">
            <li class="service">
                <a href="" style="color: white;">Computer Repair</a>
            </li>
            <li class="service">
                <a href="" style="color: white;">Tablate Repair</a>
            </li>
            <li class="service">
                <a href="" style="color: white;">Mobile Repair</a>
            </li>
            <li class="service">
                <a href="" style="color: white;">Other Services</a>
            </li>
        </ul>
    </div>
    <div class="col">
        <ul class="serviceslinks">
            <li class="service">
                <a href="" style="color: white;">Our Products</a>
            </li>
            <li class="service">
                <a href="" style="color: white;">About Us</a>
            </li>
        </ul>
    </div>
  </div> 
  <div class="footer-container">
      <div class="copy-right">
        <p style="color: white;" >©2020 All Rights Reserved</p>
      </div>
  </div>
<!-- </div> -->