<header >
  <nav class="navbar fixed-top navbar-expand-lg-sm-md-xl">
    <a class="navbar-brand" href="/">
        <img  class="logo-img"src="\photos\logo new white (1).png "  alt="logo">
      </a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
      <a class="nav-item nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
      <a class="nav-item nav-link" href="/products">Products</a>
    </li>
    <li class="nav-item active">
      <a class="nav-item nav-link" href="/Services">Services</a>
    </li>
      <li class="nav-item active">
      <a class="nav-item nav-link" href="/about">AboutUs</a>
    </li>
      <li class="nav-item active">
      <a class="nav-item nav-link" href="/contact">ContactUs</a>
    </li>
      </ul>        
    <div class="loginbuttons">
       <a href="/register" > <button class="btn btn-outline-success my-2 my-sm-0 "  type="register"> Create a Account</button></a>
       <a href="/signIn"> <button class="btn btn-outline-success my-2 my-sm-0 "    type="login">Sign In</button></a>
    </div> 
  </nav>
</header>
