<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class=" navbar fixed-top navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="home.html">
            <img src="https://png.pngtree.com/png-clipart/20200722/original/pngtree-computer-data-service-logo-design-png-image_4971972.jpg" width="30" height="30" alt="logo">
          </a>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
          <a class="nav-item nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
          <a class="nav-item nav-link" href="#">Products</a>
        </li>
        <li class="nav-item active">
          <a class="nav-item nav-link" href="#">Services</a>
        </li>
          <li class="nav-item active">
          <a class="nav-item nav-link" href="about.html">AboutUs</a>
        </li>
          <li class="nav-item active">
          <a class="nav-item nav-link" href="#">ContactUs</a>
        </li>
          </ul>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
</body>
</html>