<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head',); %>
    <link rel="stylesheet" href="/css/about.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
    <!--nNav-bar Starting here-->
    <%- include('layouts/nav',); %>
    <!--Carsoule items -->
    <div class="page-title-area bg-2">
        <div class="container">
          <div class="page-title-content">
            <h2>About us</h2>
          </div>
        </div>
    </div>
    <section class="about-area-two ptb-100">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 pl-0">
              <div class="about-content">
                <h2>About Proxon Technologies For Computer or IT SALES AND Services</h2>
  
                <p>Proxon Technologies is the high standard laptop, Desktop, Mobile phone sales &amp; service provider with best AMC support. We also put our best efforts in deleted data recovery. We put the workmanship and your general experience on the first place. We aim to get your devices repaired quickly. We fix anything like broken screen, hinge, back panel, laptop keyboard, chip level services, charging port and software issues.. Do you really need another laptop or mobile phone if we can fix the existing one ? Visit our  repair store or just send request for a quick turnaround. We will do the rest. Don’t just take our word for it, read what customers say on Google.</p>
                
                <ul style="list-style: none;">
                  <li>
                    <i class="material-icons">computer</i>
                    Computer Diagnostics
                  </li>
                  <li>
                    <i class="bi bi-check-lg"></i>
                    Computer Tune-Up
                  </li>
                  <li>
                    <i class="bi bi-check-lg"></i>
                    Virus Removal
                  </li>
                  <li>
                    <i class="bi bi-check-lg"></i>
                    SSD Upgrade
                  </li>
                  <li>
                    <i class="bi bi-check-lg"></i>
                    Remote Assistance
                  </li>
                  <li>
                    <i class="bi bi-check-lg"></i>
                    Router Set-Up
                  </li>
                </ul>
  
               
              </div>          </div>
  
            <div class="col-lg-6 pr-0">
              <div class="about-img-1">
                <img src="http://proxontechnologies.com/wp-content/themes/Proxon/assets/img/home-two/about-img-1.png" alt="Image">
                <div class="video">
                  <a href="https://www.youtube.com/watch?v=Ukx84xj7KF8" class="video-btn popup-youtube">
                    <i class="bi bi-file-play-fill"></i>
                  </a>
                </div>
                <div class="about-img-2">
                  <img src="http://proxontechnologies.com/wp-content/themes/Proxon/assets/img/home-two/about-img-2.png" alt="Image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

<!-- our team section Starting -->
<section class="our-team-area pt-100 pb-70">
    <div class="container">
      <div class="section-title">
        <span>Our Team</span>
        <h2>Our Expert  Engineer</h2>
        <p>We are committed to our passion and our customers, and believe we've found the best service in India. We want to help people in a different way.</p>
      </div>
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <img src="https://img.freepik.com/free-icon/important-person_318-10744.jpg?size=338&ext=jpg&ga=GA1.2.1580959664.1639785600" alt="John" style="width:100%">
                <h1>John Doe</h1>
                <p class="title">CEO & Founder, Example</p>
                <p>proxon Technologies</p>
                <div style="margin: 24px 0;">
                  <a href="#"><i class="fa fa-dribbble"></i></a> 
                  <a href="#"><i class="fa fa-twitter"></i></a>  
                  <a href="#"><i class="fa fa-linkedin"></i></a>  
                  <a href="#"><i class="fa fa-facebook"></i></a> 
                </div>
              </div>   
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <img src="https://img.freepik.com/free-icon/important-person_318-10744.jpg?size=338&ext=jpg&ga=GA1.2.1580959664.1639785600" alt="John" style="width:100%">
                <h1>John Doe</h1>
                <p class="title">CEO & Founder, Example</p>
                <p>proxon Technologies</p>
                <div style="margin: 24px 0;">
                  <a href="#"><i class="fa fa-dribbble"></i></a> 
                  <a href="#"><i class="fa fa-twitter"></i></a>  
                  <a href="#"><i class="fa fa-linkedin"></i></a>  
                  <a href="#"><i class="fa fa-facebook"></i></a> 
                </div>
              </div>   
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <img src="https://img.freepik.com/free-icon/important-person_318-10744.jpg?size=338&ext=jpg&ga=GA1.2.1580959664.1639785600" alt="John" style="width:100%">
                <h1>John Doe</h1>
                <p class="title">CEO & Founder, Example</p>
                <p>proxon Technologies</p>
                <div style="margin: 24px 0;">
                  <a href="#"><i class="fa fa-dribbble"></i></a> 
                  <a href="#"><i class="fa fa-twitter"></i></a>  
                  <a href="#"><i class="fa fa-linkedin"></i></a>  
                  <a href="#"><i class="fa fa-facebook"></i></a> 
                </div>
              </div>   
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <img src="https://img.freepik.com/free-icon/important-person_318-10744.jpg?size=338&ext=jpg&ga=GA1.2.1580959664.1639785600" alt="John" style="width:100%">
                <h1>John Doe</h1>
                <p class="title">CEO & Founder, Example</p>
                <p>proxon Technologies</p>
                <div style="margin: 24px 0;">
                  <a href="#"><i class="fa fa-dribbble"></i></a> 
                  <a href="#"><i class="fa fa-twitter"></i></a>  
                  <a href="#"><i class="fa fa-linkedin"></i></a>  
                  <a href="#"><i class="fa fa-facebook"></i></a> 
                </div>
              </div>   
        </div>

    </div>

  </section>
<footer class="site-footer" >
    <%- include('layouts/footer',); %>  
</footer>
</body>
</html>