<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head',); %>
<body>
    <!--nNav-bar Starting here-->
    <%- include('layouts/nav',); %>
    <!--Carsoule items -->
    <div class="sliderWrraper" style="height: 625px; width: 100%;">
        
    </div>
    <footer class="site-footer" >
        <%- include('layouts/footer',); %>  
    </footer>
</body>
</html>