<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/head',); %>
    <link rel="stylesheet" href="/css/services.css">
    <link rel=”stylesheet” href=”https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css”>
</head>
<body>
    <!--nNav-bar Starting here-->
    <%- include('layouts/nav',); %>
 <!-- services banner -->
 <div class="page-title-area bg-2">
    <div class="container">
      <div class="page-title-content">
        <h2>Our Services</h2>
      </div>
    </div>
</div>
<!--End of banner-->
<!--Services section start-->
<section class="repair-area-three pb-70 margintop">
    <div class="container">
      <div class="section-title">
        <span>What We Do</span>
        <h2>Our Repair Services For You</h2>
        <p>Our experience and expertise in these areas allows us to be able to deliver quality and on time in the projects we have worked on so far.</p>
      </div>

      <div class="row">
                   <div class="col-lg-4 col-sm-6">
          <div class="single-repair">
            <div class="icon">
              <i class="flaticon-chip"></i>
            </div>
            <h3>Hardware Update</h3>
            <p>We are a small business, so all of my services are available from home, and you can take care of </p>
            <a href="http://proxontechnologies.com/Service/hardware-update/">
              <i class="flaticon-right-1"></i>
            </a>
          </div>
        </div>
                 <div class="col-lg-4 col-sm-6">
          <div class="single-repair">
            <div class="icon">
              <i class="fifi fi-rr-smartphone"></i>
            </div>
            <h3>Mobile Repair</h3>
            <p>Our experience and expertise in these areas allows us to be able to deliver quality and on time in the </p>
            <a href="http://proxontechnologies.com/Service/mobile-repair/">
              <i class="flaticon-right-1"></i>
            </a>
          </div>
        </div>
                 <div class="col-lg-4 col-sm-6">
          <div class="single-repair">
            <div class="icon">
              <i class="flaticon-ellipse"></i>
            </div>
            <h3>Tablet Repair</h3>
            <p>We believe that true talent and creativity emerge from the ability to mix price points and styles while offering thoughtful </p>
            <a href="http://proxontechnologies.com/Service/tablet-repair/">
              <i class="flaticon-right-1"></i>
            </a>
          </div>
        </div>
                 <div class="col-lg-4 col-sm-6">
          <div class="single-repair">
            <div class="icon">
              <i class="flaticon-processor"></i>
            </div>
            <h3>Computer Repair</h3>
            <p>Our staff is comprised of all of us who have worked on diverse project with clients for over 20 years.&nbsp;We </p>
            <a href="http://proxontechnologies.com/Service/computer-repair/">
              <i class="flaticon-right-1"></i>
            </a>
          </div>
        </div>
            </div>
    </div>
  </section>

    <footer class="site-footer" >
        <%- include('layouts/footer',); %>  
    </footer>
</body>
</html>