.page-title-area {
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-top: 285px;
    padding-bottom: 150px;
    background-image: url(../photos/page-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.about-area-two .about-img-1 {
    position: relative;
    top: 50px;
}
.about-area-two .about-img-1 .about-img-2 {
    position: absolute;
    top: -50px;
    right: 0;
    z-index: -1;
}
.video-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 69px;
    text-align: center;
    border-radius: 50%;
    color: #00906C;
    position: relative;
    top: 3px;
    z-index: 1;
    background-color: #00906C;
}
.video-btn i {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 3px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
}
.about-area-two .about-img-1 .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.section-title {
    max-width: 660px;
    margin: -8px auto 60px;
    text-align: center;
    position: relative;
}
.section-title span {
    font-size: 14px;
    font-weight: 700;
    color: #00906C;
    display: block;
    margin-bottom: 15px;
}
.section-title h2 {
    font-size: 40px;
    margin-bottom: 20px;
    position: relative;
    display: block;
    text-transform: capitalize;
    color: #25245e;
    font-weight: 700;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
.title {
    color: grey;
    font-size: 18px;
  }
  
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  